@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tap-target {
    @apply min-h-[44px] min-w-[44px];
  }
}

html, body, #app {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
